/*
.colors{
    color: #1a1a76;
    color: #87CEFA;
    color: #ADFF2F;
    color: #044c04;
    color: #FFFF00;
    color: #950000;
    color: #f20b0b;
    color: #FFA500;
    color: #800080;
    color: #fa1afa;
    color: #fdb4c0;
    color: #ffdca9;
    color: #D3D3D3;
    color: #8D8D8D;
    color: #FFFFFF;
    color: #000000;
    color: #4f2a0a;
    color: #bb5205;
}
*/

.canvas{
    width:100%;
    height: 80%;
    background-color: white;
    margin-bottom: 15px;
}

.coloringImage{
    width: 100%;
    height: auto;
}

.bigColorDiv{
    width: 40%;
    margin-left: 10px;
    float: left;
}

.bigToolDiv{
    width: 40%;
    margin-top: 20px;
    margin-right: 0;
    float: right;
}

.tooldivs{
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
}

.smalltool{
    width: 20px;
    height: auto;
}

.mediumtool {
    width: 35px;
    height: auto;
}

.tool{
    width: 50px;
    height: auto;
}

.colorswatches{
    width: 30px;
    height: auto;
    margin: 1px;
}


.currentSwatch{
    width: 50px;
    height: 96px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin-left: 50px;
    margin-right: 15px;
    float: left;
}