
/*Desktop*/

#wallpaper{
    background-image: url("../img/desktop/square.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-width: 100%;
    min-height: 100vh;
    margin: auto;
    background-color: black;
    overflow: hidden;
}

#iconTray{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
    z-index: 2000;
}

.icons{
    width: 80px;
    height: auto;
    margin: 5px;
}

/*Application Windows*/

.appWindow{
    background-color: white;
    left: 100px;
    top: 100px;
    border: solid;
    border-width: 1px;
    border-color: lightblue;
    border-radius: 5px;
    position: absolute;
}

.topBar{
    height: 35px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.appIcon{
    width: 25px;
    height: auto;
    float: left;
    margin-top: 4px;
    margin-left: 4px;
    border: solid;
    border-color: lightsteelblue;
    border-width: 1px;
    border-radius: 4px;
}

.windowHeader{
    font-family: Geneva,Tahoma,Verdana,sans-serif;
    font-weight: bold;
    color: lightsteelblue;  /*B0C4DE*/
    margin: 0;
    float: left;
    margin-left: 15px;
    padding-top: 6px;
}

.closeWindowIcon{
    width: 20px;
    height: auto;
    float: right;
    margin-top: 4px;
    margin-right: 4px;
}

.contentDiv{
    background-color: #fafbff;
    height: 85%;
    overflow-y: scroll;
}

.bottomBar{
    height: 25px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position:absolute;
    bottom:0;
}

.loadingBar{
    margin-top: 3px;
}


