/*
magenta pink - #d824d5
purple - #5c0081
dark purple - #1d0129
black
white


1920
1080
*/

#desktop{
    background-image: url("../img/desktop/square.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-attachment: fixed;
    min-width: 100%;
    min-height: 100vh;
    margin: auto;
    background-color: black;
}

#icontray{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
}

.icons{
    width: 80px;
    height: auto;
    margin: 5px;
}
