.MemoryGameBoard{
    background-color: #fafbff;
    height: 85%;
    position: relative;
}

.board{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 100%;
    margin: auto;
}

.MemoryGameBoard .bgimg {
    width: 100px;
    height: 100px;
}
.MemoryGameBoard .clear {
    clear: both;
}

.MemoryGameBoard .tile{
    border:#000 1px solid;
    width: 100px;
    height: 100px;
    float:left;
    margin: 2px;
}

.faceUp {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    transition: 0.7s;
    transform-style: preserve-3d;
}