
.thumbContainer{
    background-color: lightsteelblue;
    display: inline-block;
    padding: 7px;
    margin: 10px;
    text-align: center;
    border-radius: 4px;
    float:left;
}

.bigImage{
    height: 100%;
    width: auto;
}
